img.store-link {
    display: inline;
    position: relative;
    left: 0%;
    -webkit-transform: translateX(-0%); /* for Safari and iOS */
    -ms-transform: translateX(-0%); /* for IE9 */
    transform: translateX(-0%);
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0;
    max-width: 50px;
}

img.amzn-link {
    width: 32px;
}

img.apple-link {
    width: 32px;
}

img.spotify-link {
    width: 32px;
}

img.bandcamp-link {
    width: 32px;
}

img.tidal-link {
    width: 32px;
}

div.store-link {
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    display: inline-block;
}

div.amzn-link {
    background-image: url(/images/amazon.png);
}

div.appl-link {
    background-image: url(/images/apple.png);
}

div.spotify-link {
    background-image: url(/images/spotify.png);
}

div.bandcamp-link {
    background-image: url(/images/bandcamp.png);
}

div.vinyl-link {
    background-image: url(/images/vinyl.png);
}

div.tidal-link {
    background-image: url(/images/tidal.png);
}

div.store-link a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; /* No underlines on the link */
    z-index: 10; /* Places the link above everything else in the div */
    background-color: #FFF; /* Fix to make div clickable in IE */
    opacity: 0; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}

div.post-description {
    font-size: 1.2rem; 
}

.pure-u-1-2, .pure-u-12-24 {
    max-width: 896px;
}

.pure-u-md-3-4, .pure-u-md-18-24 {
    max-width: 896px;
}

div#sidebarLinks {
    padding-top: 15px;
}

div#sidebarLinks a {
    color: white;
    text-decoration: none;
}

div#sidebarLinks a:hover {
    color: #5391c4;
}

div.footer {
    color: lightgray;
}

div.footer a {
    color: lightgray;
    text-decoration: none;
}

div.footer a:hover {
    color: gray;
}

div#disclaimer {
    font-size: .7em;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}

div.author-banner {
    width: 100%;
    height: 20em;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}


img.author-img {
    width: 7.5em;
    border-radius: 50%;
    margin: auto;
    border: .5em solid white;
    position: relative;
    top: 10em;
}

div[class^="author-"] {
    width: 100%;
    text-align: center;
}

div.author-name {
    font-size: 2.5em;
    font-weight: bold;
    padding: 10px;
    padding-top: 20px;
}

div.category-title {
    font-size: 2.5em;
    font-weight: bold;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: .25em;
    margin-bottom: .25em;
    border-bottom: 2px solid black;
}

div.pagination {
    width: 100%;
}

div.pagination ul.pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div.pagination li.page-item {
    width: 3em;
}

div.pagination li.page-item a {
    display: block;
    text-align: center;
    width: 100%;
    font-size: 1.5em;
    color: lightgray;
}

div.pagination li.page-item a:hover {
    font-size: 1.75em;
    text-decoration: none;
    color: gray;
}

div.pagination li.disabled {
    display: none;
}

div.pagination li.active a {
    font-weight: bold;
    font-size: 1.75em;
    color: gray;
}
